
<div class="text-center py-16 px-4 sm:px-6 lg:px-8">
  <h1 class="text-4xl font-extrabold text-slate-900 dark:text-slate-100 sm:text-5xl md:text-6xl">
    <span class="block text-gradient">Cubel Cloud</span>
  </h1>
  <p class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
    A demonstration of Zero-Trust Architecture (ZTA), ICAM, and ABAC.
    Securely running in my homelab using containerized applications
    within a local kubernetes cluster.
  </p>
  <p class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
    You are accessing an information system (IS) that is provided for demonstration only. By using this IS (which includes any device attached to this IS), you consent to the following conditions:
  </p>
  <ul>
    <li class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
      The administrator routinely intercepts and monitors communications occurring on this IS for purposes including, but not limited to, penetration testing, COMSEC monitoring, network operations and defense, personnel misconduct (PM), law enforcement (LE), and counterintelligence (CI) investigations.
    </li>
    <li class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
      At any time, the administrator may inspect and seize data stored on this IS.
    </li>
    <li class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
      Communications using, or data stored on, this IS are not private, are subject to routine monitoring, interception, and search, and may be disclosed or used for any authorized purposes.
    </li>
    <li class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
      This IS includes security measures (e.g., authentication and access controls) to protect interests of the owner--not for your personal benefit or privacy.
    </li>
  </ul>
  <p class="mt-6 max-w-2xl mx-auto text-xl text-slate-600 dark:text-slate-300">
    Notwithstanding the above, using this IS does not constitute consent to PM, LE or CI investigative searching or monitoring of the content of privileged communications, or work product, related to personal representation or services by attorneys, psychotherapists, or clergy, and their assistants. Such communications and work product are private and confidential.
  </p>
  <div class="mt-8 flex justify-center">
    <div class="inline-flex rounded-md shadow">
      <a routerLink="/login" class="inline-flex items-center justify-center px-8 py-3 text-base font-medium rounded-md text-white bg-gradient-diagonal hover:bg-none hover:bg-primary">
        Get started
      </a>
    </div>
  </div>
</div>
